pip install wordcloud
pip install langdetect
pip install pandas
pip install nltk
pip install spacy
pip install contractions
pip install matplotlib
pip install numpy
pip install scikit-learn
pip install xgboost
